* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}
.wrap1 {
    border:  1px solid #c8c8c8;
    width: 1060px;
    margin: auto;
    padding: 30px;
    background-color: white;
    box-shadow: -2px 0 3px #dbdbdb, 2px 0 3px #dbdbdb;
}
.header {
    background: linear-gradient(#5e5e5e, #444343);
    width: 100%;
    height: 40px;
    margin: 40px 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#ul_header li, #ul_footer li {
    float: left;
}
#ul_header a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 40px;
    text-decoration: none;
    text-shadow: 1px 1px black;
}
#ul_header a:hover{
    background-color: #3d3d3d;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}
nav {
    float: left;
    width: 25%;   
}
#ul_nav {
    border: 0.5px solid #c8c8c8;
}
#ul_nav a {
    display: block;
    color: #656363;
    padding: 10px 20px;
    text-decoration: none;
}
#ul_nav a:hover {
    background-color: #f9f9f9;
    color: #2c2c2c;
    padding-left: 30px;
}
#ul_nav li {
    display: block;
    border-bottom: 0.5px solid #c8c8c8;
}
#ul_nav li:last-child {
    border-bottom: none;
}
article {
    
}
article {
    width: 70%;
    float: right;
}
figure {
    text-align: center;
    margin-bottom: 40px;
}
p{
    margin-left: 20px;
}
footer {
    width: 100%;
    height: 40px;
    margin-top: 680px; 
    top: 90%;
    background-color: #e1e1e1;
}
#ul_footer a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px 16px;
}
#ul_footer li:last-child {
    display: block;
    padding: 10px 16px;
    margin-left: 470px;
}
#ul_footer a:hover {
    text-decoration: underline;
}